.header {
  height: 90px;
  position: relative;
  &::before {
    content: "";
    width: 50%;
    height: 2px;
    position: absolute;
    background-color: $primary;
    bottom: 0;
    left: 0;
  }
  &::after {
    content: "";
    width: 50%;
    height: 2px;
    position: absolute;
    background-color: $secondary;
    bottom: 0;
    right: 0;
  }

  .pc-menu {
    .nav-link:hover {
      color: $primary;
    }
  }

  .phone-menu {
    position: absolute;
    overflow-x: hidden;
    left: 0;
    bottom: -195%;
    width: 100%;
  }
}

.logo{
  background: url("../images/logo.svg") no-repeat center center;
  width: 125px;
  height: 30px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}