.card {
  background-color: inherit;
}
// 全台最豐富的程式家教
.banner {
  &__image {
    background: url("../images/bg_home_mobile.jpg") no-repeat center center;
    background-size: cover;
    min-height: 336px;
    @include respond-min(md) {
      background: url("../images/bg_home.jpg") no-repeat center center;
      background-size: cover;
      min-height: 680px;
    }
  }

  &__content {
    padding: 32px 28px;
    background-color: $gray-700;
    position: relative;


  }
}
// 手把手帶你 親自到家教到會
.introduction {

  .card {
    max-width: 336px;
    border: 1px solid transparent;
    @include respond-max(md){
      background-color: $gray-800;
      .material-symbols-outlined {
        background-image: linear-gradient(to bottom, $secondary, $primary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }
  .card:hover{
    .material-symbols-outlined {
      background-image: linear-gradient(to bottom, $secondary, $primary);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
    border: 1px solid $primary;
    border-radius: 12px;
    background-color: $gray-800;
  }
}
// 你想要學習的程式，都在這裡
.programming {
  &__list {
    li {
      margin-right: 8px;
      @include respond-min(md) {
        margin-right: 24px;
      }
    }
  }
}
// 熱門推薦課程 & class-detail 其他人也看了這些課程
.hot,.other-class {
  .card-img-top {
    max-width: 100px;
  }
  .card-title {
    @include respond-min(md) {
      height: 60px;
    }
  }

  .card:hover{
    border: 1px solid $primary;
    border-radius: inherit;
  }
}
// 對症下藥，專案製作
.info {
  &__item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond-min(md){
      width: 50%;
    }
    @include respond-min(lg){
      width: 25%;      
    }
    // item 背景圖遮罩
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.5);
      width: 100%;
      height: 100%;
      z-index: 100;
    }
    // 文字遮罩
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.2);
      width: 100%;
      height: 100%;
      z-index: 300;
    }
  }
  .material-symbols-outlined {
    color: $primary;
    @include respond-min(lg) {
      color: $white;
    }
  }
  &__item:hover {
    .material-symbols-outlined {
      color: $primary;
    }

    &::after{
      display: none;
    }
    .info__text::after{
      display: none;
    }

    .u-pseudo-line-bl-50-hover {
      &::after {
        border-bottom: 3px solid $primary;
      }
    }
  }

}
// 文章分享
.article {
  .squareRounded {
    display: none;
    width: 32px;
    height: 32px;
    &-topLeft {
      border-top: 2px solid #62DB54;
      border-left: 2px solid #62DB54;
      border-top-left-radius: 10px;
    }
    &-topRight {
      border-top: 2px solid #62DB54;
      border-right: 2px solid #62DB54;
      border-top-right-radius: 10px;
    }
    &-bottomLeft {
      border-bottom: 2px solid #62DB54;
      border-left: 2px solid #62DB54;
      border-bottom-left-radius: 10px;
    }
    &-bottomRight {
      border-bottom: 2px solid #62DB54;
      border-right: 2px solid #62DB54;
      border-bottom-right-radius: 10px;
    }
  }
  @include respond-min(lg) {
    .card:hover {
      .squareRounded {
        display: block;
      }
    }
  }
  
}
// 專屬你的學習課程
.review {
  @include respond-min(lg) {
    background: url("../images/bg_share.jpg") no-repeat center center;
    background-size: cover;
  }
  // 左邊圖片框線
  .u-pseudo-outline {
    position: relative;
    z-index: 1;
    @include respond-min(lg) {
      left: 20px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: -5px;
      width: 100%;
      height: 100%;
      z-index: -1;
      border: 1px solid $light;
      border-radius: 24px;
    }
  }

  .card {
    height: auto;
    width: 100%;
    border-radius: 24px 24px 24px 0;
    @include respond-min(lg) {
      position: absolute;
      bottom: 0;
      right: 24px;
    }

    &-img {
      width: 80px;
      position: absolute;
      right: 24px;
      top: -35px;
    }
    &-body {
      color: $blue-dark-100;
      // padding: 0;
    }
  }
}
// 加入我們成為導師
.joinUs {
  .material-symbols-outlined {
    font-size: 80px;
  }
}