---
title: 課程介紹 - 詳細內容
layout: ./app/layout.ejs
engine: ejs
current: class-detail
---

<section class="class-detail u-bg-gray-700 py-6 py-md-11">
  <div class="container">
    <div class="row">
      <!-- class-detail -->
      <section class="offset-lg-1 col-lg-7 mb-6 mb-lg-0">
        <div>
          <div class="card p-5 mb-6 rounded-4 bg-gray flex-md-row align-items-md-center">
            <div class="card-header m-auto border-0 text-center me-md-3 me-lg-6">
              <img src="./assets/images/teacher01.jpg" class="card-img-top rounded-circle mb-2 u-w-100px" alt="teacher01">
              <p class="mb-3 mb-md-0 u-font-notoSans">Belinda</p>
            </div>
  
            <div class="card-body">
              <h3 class="card-title fw-bold mb-1 fs-6 u-ellipsis-2">基礎前端 - HTML</h3>
              <h4 class="card-subtitle text-primary mb-2">前端語言</h4>
              <p class="card-text">帶領無基礎的平民老百姓，從最基礎的 HTML 語法出發，使用最淺顯易懂的語言與生活隨處可見的例子，輕鬆進入網頁架設的世界，完成一個基礎的網頁架設。</p>
            </div>
          </div>
        </div>

        <!-- 老師介紹 --> 
        <div>
          <h5 class="fs-6 mb-3">老師介紹</h5>
          <div class="card p-4 rounded-4 bg-gray mb-6 mb-md-7">
            <div class="d-md-flex border-bottom border-light mb-4">
              <!-- 學、經歷 -->
              <div class="me-md-2 me-lg-2">
                <div class="d-flex mb-4">
                  <span class="material-symbols-outlined me-2 text-primary">
                    school
                  </span>
                  <p class="me-2 text-light text-nowrap">學歷</p>
                  <p class="me-2 ">國立中央大學 資訊工程 碩士 畢業</p>
                </div>
                
                <div class="d-flex mb-4">
                  <span class="material-symbols-outlined me-2 text-primary">
                    business_center
                  </span>
                  <p class="me-2 text-light text-nowrap">經歷</p>
                  <p class="me-2 ">2020.08 - 迄今 上市企業 韌體工程師</p>
                </div>
              </div>
              <!-- 語言、等級 -->
              <div>
                <div class="d-flex mb-4">
                  <span class="material-symbols-outlined me-2 text-primary">
                    translate
                  </span>
                  <p class="me-2 text-light text-nowrap">語言</p>
                  <p class="me-2 ">中文/英文</p>
                </div>
    
                <div class="d-flex mb-4">
                  <span class="material-symbols-outlined me-2 text-primary">
                    military_tech
                  </span>
                  <p class="me-2 text-light text-nowrap">等級</p>
                  <p class="me-2 ">入門</p>
                </div>
              </div>
            </div>
  
            <div>
              <p class="card-text">目前任職於上市企業 韌體工程師，撰寫各種微控制器韌體程式，如作業系統、系統軟體、裝置控制程式、驅動程式、網路應用程式、系統整合程式、數位訊號處理程式等。</p>
              <br>
              <p class="card-text">興趣是幫助他人學習程式語言，我相信，透過清楚的講解與示範，任何人都可以學好編寫程式與電腦科學中的複雜概念</p>
            </div>
          </div>
        </div>

        <!-- 課程簡介 --> 
        <div>
          <h5 class="fs-6 mb-3">課程簡介</h5>
          <div class="card p-4 rounded-4 bg-gray">
            <h6 class="fs-7 mb-3 u-pseudo-line-l">這堂課你將會學到：</h6>
            <ul class="mb-5">
              <li class="u-pseudo-list-square">網頁設計，基礎知識</li>
              <li class="u-pseudo-list-square">HTML 語法，概念實作能力</li>
              <li class="u-pseudo-list-square">CSS , Javascript 概念與知識</li>
              <li class="u-pseudo-list-square">能做出一個基礎的HTML 網頁</li>
            </ul>
            <h6 class="fs-7 mb-5 u-pseudo-line-l">什麼是 HTML，為什麼要打造網頁，就一定要先學它？</h6>
            <p class="card-text">HTML元素是構建網站的基石。HTML允許嵌入圖像與物件，並且可以用於建立互動式表單，它被用來結構化資訊——例如標題、段落和列表等等，也可用來在一定程度上描述文件的外觀和語意。</p><br>
            <p class="card-text">當你掌握了HTML，就可以開始規劃並建置你想要的網頁內容 !</p>
          </div>
        </div>
      </section>

      <!-- price -->
      <section class="col-lg-4 position-relative">
        <ul class="price__list bg-gray py-6 px-4 border">
          <div class="u-border-square u-border-square--1"></div>
          <div class="u-border-square u-border-square--2"></div>
          <div class="u-border-square u-border-square--3"></div>
          <div class="u-border-square u-border-square--4"></div>
          
          <li class="border-bottom mb-3 pb-3">
            <a href="checkout-order.html" class="d-flex justify-content-between align-items-center u-hover-primary">
              <div>
                <p class="fs-4">NT$1600</p>
                <p>1堂50分鐘</p>
              </div>
              <span class="material-symbols-outlined u-linear-bg-180 rounded-circle fs-2 u-hover-none:hover">
                chevron_right
              </span>
            </a>
          </li>

          <li class="border-bottom mb-3 pb-3">
            <a href="#!" class="d-flex justify-content-between align-items-center u-hover-primary">
              <div>
                <p class="fs-4">NT$1400</p>
                <p>3堂50分鐘</p>
              </div>
              <span class="material-symbols-outlined u-linear-bg-180 rounded-circle fs-2">
                chevron_right
              </span>
            </a>
          </li>

          <li class="border-bottom mb-3 pb-3">
            <a href="#!" class="d-flex justify-content-between align-items-center u-hover-primary">
              <div>
                <p class="fs-4">NT$1000</p>
                <p>10堂50分鐘</p>
              </div>
              <span class="material-symbols-outlined u-linear-bg-180 rounded-circle fs-2">
                chevron_right
              </span>
            </a>
          </li>

          <li class="border-bottom mb-3 pb-3">
            <a href="#!" class="d-flex justify-content-between align-items-center u-hover-primary">
              <div>
                <p class="fs-4">NT$900</p>
                <p>20堂50分鐘</p>
              </div>
              <span class="material-symbols-outlined u-linear-bg-180 rounded-circle fs-2">
                chevron_right
              </span>
            </a>
          </li>

          <li class="">
            <a href="#!" class="d-flex justify-content-between align-items-center u-hover-primary">
              <div>
                <p class="fs-4">洽談報價</p>
                <p>客製化課程/專案製作</p>
              </div>
              <span class="material-symbols-outlined u-linear-bg-180 rounded-circle fs-2">
                chevron_right
              </span>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>

<!-- 其他人也看了這些課程 -->
<section class="other-class bg-black py-6 py-md-11">
  <div class="container">
    <h2 class="fs-5 fs-md-3 text-center u-pseudo-line-bm-50 pb-3 mb-4 mb-md-7">其他人也看了這些課程</h2>
    <ul class="row gy-4 gy-md-4">
      <li class="col-md-6 col-lg-3">
        <a href="class-detail.html">
          <div class="card pt-4 rounded-4 bg-gray">
            <img src="./assets/images/teacher01.jpg" class="card-img-top rounded-circle m-auto mb-2" alt="teacher01">
            <p class="text-center mb-4 u-font-notoSans">Belinda</p>
            <div class="card-body px-5 px-lg-4">
              <h3 class="card-title fw-bold mb-2 fs-6 u-ellipsis-2">基礎前端 - HTML</h3>
              <h4 class="card-subtitle text-primary mb-2">前端語言</h4>
              <p class="card-text mb-5">帶領無基礎的平民老百姓，從最基礎的 HTML 語法出發，使用最淺顯易懂的語言與生活隨處可見的例子...</p>
            </div>
            <div class="card-footer d-flex flex-lg-column flex-xl-row align-items-center justify-content-center border-top text-center py-3 ">
              <p class="fs-8 me-3 me-lg-0 me-xl-3">50分鐘</p>
              <p class="fs-2">NT$1600</p>
            </div>
          </div>
        </a>
      </li>

      <li class="col-md-6 col-lg-3">
        <a href="#!">
          <div class="card pt-4 rounded-4 bg-gray">
            <img src="./assets/images/teacher02.jpg" class="card-img-top rounded-circle m-auto mb-2" alt="teacher02">
            <p class="text-center mb-4 u-font-notoSans">Guava</p>
            <div class="card-body px-5 px-lg-4">
              <h3 class="card-title fw-bold mb-2 fs-6 u-ellipsis-2">2022 Python 全攻略｜從入門到實務</h3>
              <h4 class="card-subtitle text-primary mb-2">後端語言</h4>
              <p class="card-text mb-5">Python支援多種程式設計範式，包括函數式、指令式、反射式、結構化和物件導向程式設計，它擁有動態...</p>
            </div>
            <div class="card-footer d-flex flex-lg-column flex-xl-row align-items-center justify-content-center border-top text-center py-3 ">
              <p class="fs-8 me-3 me-lg-0 me-xl-3">50分鐘</p>
              <p class="fs-2">NT$2200</p>
            </div>
          </div>
        </a>
      </li>

      <li class="col-md-6 col-lg-3">
        <a href="#!">
          <div class="card pt-4 rounded-4 bg-gray">
            <img src="./assets/images/teacher03.jpg" class="card-img-top rounded-circle m-auto mb-2" alt="teacher03">
            <p class="text-center mb-4 u-font-notoSans">Joe</p>
            <div class="card-body px-5 px-lg-4">
              <h3 class="card-title fw-bold mb-2 fs-6 u-ellipsis-2">活用 Line Bot ｜APP 開發到上架完整實戰攻略</h3>
              <h4 class="card-subtitle text-primary mb-2">行動應用開發</h4>
              <p class="card-text mb-5">Line Bot 可用於實用的目的，如客戶服務或資訊獲取，有些聊天機器人會搭載自然語言處理系統，但大多簡...</p>
            </div>
            <div class="card-footer d-flex flex-lg-column flex-xl-row align-items-center justify-content-center border-top text-center py-3 ">
              <p class="fs-8 me-3 me-lg-0 me-xl-3">50分鐘</p>
              <p class="fs-2">NT$1800</p>
            </div>
          </div>
        </a>
      </li>

      <li class="col-md-6 col-lg-3">
        <a href="#!">
          <div class="card pt-4 rounded-4 bg-gray">
            <img src="./assets/images/teacher04.jpg" class="card-img-top rounded-circle m-auto mb-2" alt="teacher04">
            <p class="text-center mb-4 u-font-notoSans">Lina</p>
            <div class="card-body px-5 px-lg-4">
              <h3 class="card-title fw-bold mb-2 fs-6 u-ellipsis-2">Linux 零基礎七天入門｜入門到實務</h3>
              <h4 class="card-subtitle text-primary mb-2">作業系統與伺服器</h4>
              <p class="card-text mb-5">Linux是一種自由和開放原始碼的類UNIX作業系統，作業系統中包含了許多使用者圖形介面和其他實用...</p>
            </div>
            <div class="card-footer d-flex flex-lg-column flex-xl-row align-items-center justify-content-center border-top text-center py-3 ">
              <p class="fs-8 me-3 me-lg-0 me-xl-3">50分鐘</p>
              <p class="fs-2">NT$1100</p>
            </div>
          </div>
        </a>
      </li>

    </ul>
  </div>
</section>

