---
title: Boostrap Index
layout: ./app/layout.ejs
engine: ejs
current: index
---

<main>
  <!-- 全台最豐富的程式家教 -->
  <section class="banner d-flex justify-content-center align-items-center">
    <div class="banner__content border border-white">
      <div class="border-square border-square--1"></div>
      <div class="border-square border-square--2"></div>
      <div class="border-square border-square--3"></div>
      <div class="border-square border-square--4"></div>
      <h2 class="fs-1 fw-bold u-linear-text-180">全台最豐富的程式家教</h2>
      <h2 class="fs-1 fw-bold mb-4">在實踐中化理想為現實</h2>
      <p class="fs-7 text-center">全台最專業師資｜到府程式家教｜客製化課程</p>
    </div>
  </section>
  <!-- 手把手帶你 親自到家教到會 -->
  <section class="introduction py-11 u-bg-gray-600">
    <div class="container m-auto row align-items-center">
      <div class="pseudo-line col-3 fs-3">
        <p>手把手帶你</p>
        <p class="">親自到家教到會</p>
      </div>

      <div class="col-9">
        <div class="row">
          <div class="col card py-7 u-bg-gray-600">
            <div class="card-body text-center">
              <span class="material-symbols-outlined fs-1 mb-4">
                code
              </span>
              <p class="card-text mb-3">超過 100 種專業課程</p>
              <p class="card-text">學習標準化的電腦形式語言<br>培養運算思維和邏輯素養</p>
            </div>
          </div>

          <div class="col card py-7 u-bg-gray-600">
            <div class="card-body text-center">
              <span class="material-symbols-outlined fs-1 mb-4">
                rocket_launch
              </span>
              <p class="card-text mb-3">高效學習</p>
              <p class="card-text">客製化專屬課表<br>讓學習變簡單</p>
            </div>
          </div>

          <div class="col card py-7 u-bg-gray-600">
            <div class="card-body text-center">
              <span class="material-symbols-outlined fs-1 mb-4">
                location_on
              </span>
              <p class="card-text mb-3">指定地點</p>
              <p class="card-text">專業老師到你指定的地點<br>一對一高效學習</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>
  <!-- 預期上課流程 -->
  <section class="process u-bg-gray-700 py-11">
    <div class="container">
      <h2 class="fs-3 text-center u-pseudo-line-b-50 pb-3 mb-10">預期上課流程</h2>
      <ul class="row">
        <li class="col-3">
          <div class="card border-white rounded-3 u-pseudo-number--1">
            <div class="card-body p-7">
              <h4 class="card-title fs-4 mb-3">預約</h4>
              <p class="card-text fs-7">線上預約指定課程與老師<br>由老師安排專屬課程</p>
            </div>
          </div>
        </li>

        <li class="col-3">
          <div class="card border-white rounded-3 u-pseudo-number--2">
            <div class="card-body p-7">
              <h4 class="card-title fs-4 mb-3">付款</h4>
              <p class="card-text fs-7">支援各種支付方式<br>提供12期分期付款</p>
            </div>
          </div>
        </li>

        <li class="col-3">
          <div class="card border-white rounded-3 u-pseudo-number--3">
            <div class="card-body p-7">
              <h4 class="card-title fs-4 mb-3">上課</h4>
              <p class="card-text fs-7">地點由您指定<br>密集性一對一教學</p>
            </div>
          </div>
        </li>

        <li class="col-3">
          <div class="card border-white rounded-3 u-pseudo-number--4">
            <div class="card-body p-7">
              <h4 class="card-title fs-4 mb-3">提供滿意度</h4>
              <p class="card-text fs-7">提供課程滿意度及回饋<br>讓我們持續成長與進步</p>
            </div>
          </div>
        </li>
      </ul>


        
      
    </div>
  </section>
  <!-- 你想要學習的程式，都在這裡 -->
  <section class="class u-bg-gray-600 py-11">
    <div>
      <h2 class="fs-3 text-center u-pseudo-line-b-50 pb-3 mb-10">你想要學習的程式，都在這裡</h2>
      <ul class="d-flex justify-content-around u-font-notoSans">
        <li><a href="#!" class="btn btn-outline-white py-4 px-5 fw-bold fs-7">JavaScript</a></li>
        <li><a href="#!" class="btn btn-outline-white py-4 px-5 fw-bold fs-7">HTML/CSS</a></li>
        <li><a href="#!" class="btn btn-outline-white py-4 px-5 fw-bold fs-7">SQL</a></li>
        <li><a href="#!" class="btn btn-outline-white py-4 px-5 fw-bold fs-7">Java</a></li>
        <li><a href="#!" class="btn btn-outline-white py-4 px-5 fw-bold fs-7">Bash/Shell</a></li>
        <li><a href="#!" class="btn btn-outline-white py-4 px-5 fw-bold fs-7">Python</a></li>
        <li><a href="#!" class="btn btn-outline-white py-4 px-5 fw-bold fs-7">PHP</a></li>
        <li><a href="#!" class="btn btn-outline-white py-4 px-5 fw-bold fs-7">C++</a></li>
      </ul>
    </div>
  </section>
  <!-- 熱門推薦課程 -->
  <section class="hot bg-black p-11">
    <div class="container">
      <h2 class="fs-3 text-center u-pseudo-line-b-50 pb-3 mb-10">熱門推薦課程</h2>
      <ul class="row mb-7">
        <li class="col-3">
          <a href="#!">
            <div class="card pt-4 px-3 rounded-3 u-bg-gray-600">
              <img src="./assets/images/teacher01.jpg" class="card-img-top rounded-circle m-auto mb-2 u-w-100px" alt="teacher1">
              <p class="text-center mb-4 u-font-notoSans">Belinda</p>
              <div class="card-body">
                <h3 class="card-title fw-bold mb-6 fs-6">基礎前端 - HTML</h3>
                <h4 class="card-title text-primary mb-2">前端語言</h4>
                <p class="card-text mb-5">帶領無基礎的平民老百姓，從最基礎的 HTML 語法出發，使用最淺顯易懂的語言與生活隨處可見的例子...</p>
              </div>
              <div class="card-footer border-top text-center py-3 ">
                <p class="fs-2"><span class="fs-8 me-2">50分鐘</span>NT$1600</p>
              </div>
            </div>
          </a>
        </li>

        <li class="col-3">
          <a href="#!">
            <div class="card pt-4 px-3 rounded-3 u-bg-gray-600">
              <img src="./assets/images/teacher02.jpg" class="card-img-top rounded-circle m-auto mb-2 u-w-100px" alt="teacher2">
              <p class="text-center mb-4 u-font-notoSans">Guava</p>
              <div class="card-body">
                <h3 class="card-title fw-bold mb-6 fs-6">2022 Python 全攻略｜從入門到實務</h3>
                <h4 class="card-title text-primary mb-2">後端語言</h4>
                <p class="card-text mb-5">Python支援多種程式設計範式，包括函數式、指令式、反射式、結構化和物件導向程式設計，它擁有動態...</p>
              </div>
              <div class="card-footer border-top text-center py-3 ">
                <p class="fs-2"><span class="fs-8 me-2">50分鐘</span>NT$2200</p>
              </div>
            </div>
          </a>
        </li>

        <li class="col-3">
          <a href="#!">
            <div class="card pt-4 px-3 rounded-3 u-bg-gray-600">
              <img src="./assets/images/teacher01.jpg" class="card-img-top rounded-circle m-auto mb-2 u-w-100px" alt="...">
              <p class="text-center mb-4 u-font-notoSans">Joe</p>
              <div class="card-body">
                <h3 class="card-title fw-bold mb-6 fs-6">活用 Line Bot ｜APP 開發到上架完整實戰攻略</h3>
                <h4 class="card-title text-primary mb-2">行動應用開發</h4>
                <p class="card-text mb-5">Line Bot 可用於實用的目的，如客戶服務或資訊獲取，有些聊天機器人會搭載自然語言處理系統，但大多簡...</p>
              </div>
              <div class="card-footer border-top text-center py-3 ">
                <p class="fs-2"><span class="fs-8 me-2">50分鐘</span>NT$1800</p>
              </div>
            </div>
          </a>
        </li>

        <li class="col-3">
          <a href="#!">
            <div class="card pt-4 px-3 rounded-3 u-bg-gray-600">
              <img src="./assets/images/teacher01.jpg" class="card-img-top rounded-circle m-auto mb-2 u-w-100px" alt="...">
              <p class="text-center mb-4 u-font-notoSans">Lina</p>
              <div class="card-body">
                <h3 class="card-title fw-bold mb-6 fs-6">Linux 零基礎七天入門｜入門到實務</h3>
                <h4 class="card-title text-primary mb-2">作業系統與伺服器</h4>
                <p class="card-text mb-5">Linux是一種自由和開放原始碼的類UNIX作業系統，作業系統中包含了許多使用者圖形介面和其他實用...</p>
              </div>
              <div class="card-footer border-top text-center py-3 ">
                <p class="fs-2"><span class="fs-8 me-2">50分鐘</span>NT$1100</p>
              </div>
            </div>
          </a>
        </li>

      </ul>
      <div class="d-flex justify-content-center">
        <a href="#!" class="btn link-white u-linear-bg-104">所有課程列表</a>
      </div>
    </div>
  </section>

  <section class="detail"></section>

  <section class="article"></section>

  <section class="student"></section>

  <section class="joinus"></section>
</main>