---
title: 全台最大的程式家教上線啦
layout: ./app/layout.ejs
engine: ejs
current: index
---

<!-- 全台最豐富的程式家教 -->
<section class="banner u-bg-gray-700">
  <div class="banner__image d-flex justify-content-center align-items-center ">
    <div class="banner__content py-lg-7 px-lg-11 text-center border border-white">
      <div class="u-border-square u-border-square--1"></div>
      <div class="u-border-square u-border-square--2"></div>
      <div class="u-border-square u-border-square--3"></div>
      <div class="u-border-square u-border-square--4"></div>
      <h2 class="fs-4 fs-md-1 fw-bold u-linear-text-180">全台最豐富的程式家教</h2>
      <h2 class="fs-4 fs-md-1 fw-bold mb-4">在實踐中化理想為現實</h2>
      <p class="fs-9 fs-md-7 text-center">全台最專業師資｜到府程式家教｜客製化課程</p>
    </div>
  </div>
</section>
<!-- 手把手帶你 親自到家教到會 -->
<section class="introduction bg-gray py-6 py-md-11">
  <div class="container">
    <ul class="row align-items-center ">
      <li class="col-lg-3 mb-4 mb-lg-0">
        <h2 class="fw-bold fs-4 text-center text-lg-start u-pseudo-line-bl-50">手把手帶你<br>親自到家教到會
        </h2>
      </li>
      <li class="col-md-4 col-lg-3 mb-4 mb-md-0">
        <div class="card m-auto py-7">
          <div class="card-body text-center">
            <span class="material-symbols-outlined fs-1 mb-4">
              code
            </span>
            <p class="card-text fs-7 fw-bold mb-3">超過 100 種專業課程</p>
            <p class="card-text fs-7 fs-md-8">學習標準化的電腦形式語言<br>培養運算思維和邏輯素養</p>
          </div>
        </div>
      </li>
      <li class="col-md-4 col-lg-3 mb-4 mb-md-0">
        <div class="card m-auto py-7">
          <div class="card-body text-center">
            <span class="material-symbols-outlined fs-1 mb-4">
              rocket_launch
            </span>
            <p class="card-text fs-7 fw-bold mb-3">高效學習</p>
            <p class="card-text fs-7 fs-md-8">客製化專屬課表<br>讓學習變簡單</p>
          </div>
        </div>
      </li>
      <li class="col-md-4 col-lg-3">
        <div class="card m-auto py-7">
          <div class="card-body text-center">
            <span class="material-symbols-outlined fs-1 mb-4">
              location_on
            </span>
            <p class="card-text fs-7 fw-bold mb-3">指定地點</p>
            <p class="card-text fs-7 fs-md-8">專業老師到你指定的地點<br>一對一高效學習</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  
</section>
<!-- 預期上課流程 -->
<section class="process u-bg-gray-700 py-6 py-md-11">
  <div class="container">
    <h2 class="fs-5 fs-md-3 text-center u-pseudo-line-bm-50 pb-3 mb-7">預期上課流程</h2>
    <ul class="row gy-5">
      <li class="col-md-6 col-xl-3">
        <div class="card border-white rounded-3 u-pseudo-number--1">
          <div class="card-body p-7 p-md-5 px-xl-4 p-xxl-7">
            <h4 class="card-title fs-4 mb-3">預約</h4>
            <p class="card-text fs-7">線上預約指定課程與老師<br>由老師安排專屬課程</p>
          </div>
        </div>
      </li>

      <li class="col-md-6 col-xl-3">
        <div class="card border-white rounded-3 u-pseudo-number--2">
          <div class="card-body p-7 p-md-5 px-xl-4 p-xxl-7">
            <h4 class="card-title fs-4 mb-3">付款</h4>
            <p class="card-text fs-7">支援各種支付方式<br>提供12期分期付款</p>
          </div>
        </div>
      </li>

      <li class="col-md-6 col-xl-3">
        <div class="card border-white rounded-3 u-pseudo-number--3">
          <div class="card-body p-7 p-md-5 px-xl-4 p-xxl-7">
            <h4 class="card-title fs-4 mb-3">上課</h4>
            <p class="card-text fs-7">地點由您指定<br>密集性一對一教學</p>
          </div>
        </div>
      </li>

      <li class="col-md-6 col-xl-3">
        <div class="card border-white rounded-3 u-pseudo-number--4">
          <div class="card-body p-7 p-md-5 px-xl-4 p-xxl-7">
            <h4 class="card-title fs-4 mb-3">提供滿意度</h4>
            <p class="card-text fs-7">提供課程滿意度及回饋<br>讓我們持續成長與進步</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- 你想要學習的程式，都在這裡 -->
<section class="programming bg-gray py-6 py-md-11">
  <div>
    <h2 class="fs-4 fs-md-3 text-center u-pseudo-line-bm-50 pb-3 mb-7 m-auto w-50 w-md-100">你想要學習的程式，都在這裡</h2>

    <div class="classSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="#!" class="btn btn-outline-white u-hover-outline-primary py-3 py-md-4 px-1 px-md-5">JavaScript</a></div>
        <div class="swiper-slide"><a href="#!" class="btn btn-outline-white u-hover-outline-primary py-3 py-md-4 px-1 px-md-5">HTML/CSS</a></div>
        <div class="swiper-slide"><a href="#!" class="btn btn-outline-white u-hover-outline-primary py-3 py-md-4 px-1 px-md-5">SQL</a></div>
        <div class="swiper-slide"><a href="#!" class="btn btn-outline-white u-hover-outline-primary py-3 py-md-4 px-1 px-md-5">Java</a></div>
        <div class="swiper-slide"><a href="#!" class="btn btn-outline-white u-hover-outline-primary py-3 py-md-4 px-1 px-md-5">Bash/Shell</a></div>
        <div class="swiper-slide"><a href="#!" class="btn btn-outline-white u-hover-outline-primary py-3 py-md-4 px-1 px-md-5">Python</a></div>
        <div class="swiper-slide"><a href="#!" class="btn btn-outline-white u-hover-outline-primary py-3 py-md-4 px-1 px-md-5">PHP</a></div>
        <div class="swiper-slide"><a href="#!" class="btn btn-outline-white u-hover-outline-primary py-3 py-md-4 px-1 px-md-5">C++</a></div>
        <div class="swiper-slide"><a href="#!" class="btn btn-outline-white u-hover-outline-primary py-3 py-md-4 px-1 px-md-5">Tailwind</a></div>
        <div class="swiper-slide"><a href="#!" class="btn btn-outline-white u-hover-outline-primary py-3 py-md-4 px-1 px-md-5">Ruby</a></div>
        <div class="swiper-slide"><a href="#!" class="btn btn-outline-white u-hover-outline-primary py-3 py-md-4 px-1 px-md-5">Vue</a></div>
        <div class="swiper-slide"><a href="#!" class="btn btn-outline-white u-hover-outline-primary py-3 py-md-4 px-1 px-md-5">React</a></div>
        <div class="swiper-slide"><a href="#!" class="btn btn-outline-white u-hover-outline-primary py-3 py-md-4 px-1 px-md-5">Angular</a></div>
      </div>
    </div>
  </div>
</section>
<!-- 熱門推薦課程 -->
<section class="hot bg-black py-6 py-md-11">
  <div class="container">
    <h2 class="fs-5 fs-md-3 text-center u-pseudo-line-bm-50 pb-3 mb-4 mb-md-7">熱門推薦課程</h2>
    <ul class="row gy-3 gy-md-4 mb-4 mb-md-7">
      <li class="col-md-6 col-lg-3">
        <a href="class-detail.html">
          <div class="card pt-4 rounded-4 bg-gray">
            <img src="./assets/images/teacher01.jpg" class="card-img-top rounded-circle m-auto mb-2" alt="teacher01">
            <p class="text-center mb-4 u-font-notoSans">Belinda</p>
            <div class="card-body px-5 px-md-4">
              <h3 class="card-title fw-bold mb-2 fs-6 u-ellipsis-2">基礎前端 - HTML</h3>
              <h4 class="card-subtitle text-primary mb-2">前端語言</h4>
              <p class="card-text mb-5">帶領無基礎的平民老百姓，從最基礎的 HTML 語法出發，使用最淺顯易懂的語言與生活隨處可見的例子...</p>
            </div>
            <div class="card-footer d-flex flex-lg-column flex-xl-row align-items-center justify-content-center border-top text-center py-3 ">
              <p class="fs-8 me-3 me-lg-0 me-xl-3">50分鐘</p>
              <p class="fs-2">NT$1100</p>
            </div>
          </div>
        </a>
      </li>

      <li class="col-md-6 col-lg-3">
        <a href="#!">
          <div class="card pt-4 rounded-4 bg-gray">
            <img src="./assets/images/teacher02.jpg" class="card-img-top rounded-circle m-auto mb-2" alt="teacher02">
            <p class="text-center mb-4 u-font-notoSans">Guava</p>
            <div class="card-body px-5 px-md-4">
              <h3 class="card-title fw-bold mb-2 fs-6 u-ellipsis-2">2022 Python 全攻略｜從入門到實務</h3>
              <h4 class="card-subtitle text-primary mb-2">後端語言</h4>
              <p class="card-text mb-5">Python支援多種程式設計範式，包括函數式、指令式、反射式、結構化和物件導向程式設計，它擁有動態...</p>
            </div>
            <div class="card-footer d-flex flex-lg-column flex-xl-row align-items-center justify-content-center border-top text-center py-3 ">
              <p class="fs-8 me-3 me-lg-0 me-xl-3">50分鐘</p>
              <p class="fs-2">NT$1100</p>
            </div>
          </div>
        </a>
      </li>

      <li class="col-md-6 col-lg-3">
        <a href="#!">
          <div class="card pt-4 rounded-4 bg-gray">
            <img src="./assets/images/teacher03.jpg" class="card-img-top rounded-circle m-auto mb-2" alt="teacher03">
            <p class="text-center mb-4 u-font-notoSans">Joe</p>
            <div class="card-body px-5 px-md-4">
              <h3 class="card-title fw-bold mb-2 fs-6 u-ellipsis-2">活用 Line Bot ｜APP 開發到上架完整實戰攻略</h3>
              <h4 class="card-subtitle text-primary mb-2">行動應用開發</h4>
              <p class="card-text mb-5">Line Bot 可用於實用的目的，如客戶服務或資訊獲取，有些聊天機器人會搭載自然語言處理系統，但大多簡...</p>
            </div>
            <div class="card-footer d-flex flex-lg-column flex-xl-row align-items-center justify-content-center border-top text-center py-3 ">
              <p class="fs-8 me-3 me-lg-0 me-xl-3">50分鐘</p>
              <p class="fs-2">NT$1100</p>
            </div>
          </div>
        </a>
      </li>

      <li class="col-md-6 col-lg-3">
        <a href="#!">
          <div class="card pt-4 rounded-4 bg-gray">
            <img src="./assets/images/teacher04.jpg" class="card-img-top rounded-circle m-auto mb-2" alt="teacher04">
            <p class="text-center mb-4 u-font-notoSans">Lina</p>
            <div class="card-body px-5 px-md-4">
              <h3 class="card-title fw-bold mb-2 fs-6 u-ellipsis-2">Linux 零基礎七天入門｜入門到實務</h3>
              <h4 class="card-subtitle text-primary mb-2">作業系統與伺服器</h4>
              <p class="card-text mb-5">Linux是一種自由和開放原始碼的類UNIX作業系統，作業系統中包含了許多使用者圖形介面和其他實用...</p>
            </div>
            <div class="card-footer d-flex flex-lg-column flex-xl-row align-items-center justify-content-center border-top text-center py-3 ">
              <p class="fs-8 me-3 me-lg-0 me-xl-3">50分鐘</p>
              <p class="fs-2">NT$1100</p>
            </div>
          </div>
        </a>
      </li>

    </ul>
    <div class="d-flex justify-content-center">
      <a href="class.html" class="btn link-white u-linear-bg-104">所有課程列表</a>
    </div>
  </div>
</section>
<!-- 對症下藥，專案製作 -->
<section class="info">
  <div class="">
    <ul class="info__list d-flex flex-wrap justify-content-between">
      <li class="info__item bg-info-img-01 px-lg-7 text-center text-lg-start">
        <div>
          <span class="material-symbols-outlined mb-3 u-z-200">
            forum
          </span>
          <h3 class="info__title u-pseudo-line-bl-50-hover fw-bold fs-4 mb-5 u-z-400">對症下藥，專案製作</h3>
          <p class="fs-7 u-z-200">除了可以瘋狂提問之外<br>還有機會一起完成專案</p>
        </div>
      </li>

      <li class="info__item bg-info-img-02 px-lg-7 text-center text-lg-start">
        <div>
          <span class="material-symbols-outlined mb-3 u-z-200">
            tips_and_updates
          </span>
          <h3 class="info__title u-pseudo-line-bl-50-hover fw-bold fs-4 mb-5 u-z-400">激發你的學習潛力</h3>
          <p class="fs-7 u-z-200">進度制課程安排&個人化學習建議<br>有效管理你的學習動力</p>
        </div>
      </li>

      <li class="info__item bg-info-img-03 px-lg-7 text-center text-lg-start">
        <div>
          <span class="material-symbols-outlined mb-3 u-z-200">
            thumb_up
          </span>
          <h3 class="info__title u-pseudo-line-bl-50-hover fw-bold fs-4 mb-5 u-z-400">學習效率</h3>
          <p class="fs-7 u-z-200">針對學員狀況調整內容與步調<br>學習精準最有效</p>
        </div>
      </li>
      </li>

      <li class="info__item bg-info-img-04 px-lg-7 text-center text-lg-start">
        <div>
          <span class="material-symbols-outlined mb-3 u-z-200">
            supervisor_account
          </span>
          <h3 class="info__title u-pseudo-line-bl-50-hover fw-bold fs-4 mb-5 u-z-400">一對一指導</h3>
          <p class="fs-7 u-z-200">針對目的進行客製化課程安排<br>快速的學以致用</p>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- 文章分享 -->
<section class="article u-bg-gray-700 py-6 py-md-11">
  <div class="container ">
    <h2 class="fs-5 fs-md-3 text-center u-pseudo-line-bm-50 pb-3 mb-4 mb-md-7">文章分享</h2>
    <ul class="row">
      <li class="col-lg-4 mb-4 mb-lg-0">
        <div class="card m-auto border-0 p-0 p-lg-5 " >
          <div class="squareRounded squareRounded-topLeft position-absolute top-0 start-0"></div>
          <div class="squareRounded squareRounded-topRight position-absolute top-0 end-0"></div>
          <div class="squareRounded squareRounded-bottomLeft position-absolute bottom-0 start-0"></div>
          <div class="squareRounded squareRounded-bottomRight position-absolute bottom-0 end-0"></div>
          <img src="./assets/images/article01.jpg" class=" mb-3" alt="article1 photo">
          <div class="card-body">
            <h5 class="card-title fw-bold mb-3">2022 前端開發者學習地圖</h5>
            <p class="card-text mb-3">轉職為前端的這條職業路上該如何發展？本篇為前端開發者提供學習地圖參考</p>
            <div class="text-end">
              <a href="#!" class="link-primary stretched-link ">MORE</a>
            </div>
          </div>
        </div>
      </li>

      <li class="col-lg-4 mb-4 mb-lg-0">
        <div class="card m-auto border-0 p-0 p-lg-5 " >
          <div class="squareRounded squareRounded-topLeft position-absolute top-0 start-0"></div>
          <div class="squareRounded squareRounded-topRight position-absolute top-0 end-0"></div>
          <div class="squareRounded squareRounded-bottomLeft position-absolute bottom-0 start-0"></div>
          <div class="squareRounded squareRounded-bottomRight position-absolute bottom-0 end-0"></div>
          <img src="./assets/images/article02.jpg" class=" mb-3" alt="article1 photo">
          <div class="card-body">
            <h5 class="card-title fw-bold mb-3">軟體工程師有哪些類別</h5>
            <p class="card-text mb-3">軟體工程師領域廣闊，許多人仍然對此相關職務感到陌生，本篇就介紹主流的軟體工程師職務</p>
            <div class="text-end">
              <a href="#!" class="link-primary stretched-link ">MORE</a>
            </div>
          </div>
        </div>
      </li>

      <li class="col-lg-4">
        <div class="card m-auto border-0 p-0 p-lg-5 " >
          <div class="squareRounded squareRounded-topLeft position-absolute top-0 start-0"></div>
          <div class="squareRounded squareRounded-topRight position-absolute top-0 end-0"></div>
          <div class="squareRounded squareRounded-bottomLeft position-absolute bottom-0 start-0"></div>
          <div class="squareRounded squareRounded-bottomRight position-absolute bottom-0 end-0"></div>
          <img src="./assets/images/article03.jpg" class=" mb-3" alt="article1 photo">
          <div class="card-body pb-0">
            <h5 class="card-title fw-bold mb-3">免費 25 小時前端教學資源</h5>
            <p class="card-text">這篇文章規劃了適合「前端工程師」的學習地圖，讓新進的學生了解如何選擇課程</p>
            <div class="text-end">
              <a href="#!" class="link-primary stretched-link ">MORE</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- 專屬你的學習課程 -->
<section class="review bg-black py-6 py-md-11">
  <div class="container">
    <h2 class="fs-5 fs-md-3 text-center u-pseudo-line-bm-50 pb-3 mb-4 mb-md-7">專屬你的學習課程<br>超過 3000 位學員得到了程式超能力</h2>
    <div class="swiper reviewSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide mb-4">
          <div class="row justify-content-center w-100">
            <div class="col-lg-5 position-relative">
              <div class="u-pseudo-outline mb-7">
                <img src="./assets/images/share.jpg" alt="share.jpg"class="review__image rounded-4 ">
              </div>
            </div>
            <div class="col-lg-4 position-relative">
              <div class="card bg-white p-4 u-z-200">
                <img src="./assets/images/student01.jpg" class="rounded-circle card-img" alt="student01">
                <div class="card-body">
                  <h5 class="fs-7 fw-bold ">老師很有耐心</h5>
                  <p>老師手把手的細心教學，用手繪圖，以淺顯易懂的方式，讓零網頁基礎的我也能快速了解網頁的架構與原理，學網頁變得有趣多了！</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide mb-4">
          <div class="row justify-content-center w-100">
            <div class="col-lg-5 position-relative">
              <div class="u-pseudo-outline mb-7">
                <img src="./assets/images/share.jpg" alt="share.jpg"class="review__image rounded-4 ">
              </div>
            </div>
            <div class="col-lg-4 position-relative">
              <div class="card bg-white p-4 u-z-200">
                <img src="./assets/images/student02.jpg" class="rounded-circle card-img" alt="student02">
                <div class="card-body">
                  <h5 class="fs-7 fw-bold ">老師很有耐心</h5>
                  <p>老師手把手的細心教學，用手繪圖，以淺顯易懂的方式，讓零網頁基礎的我也能快速了解網頁的架構與原理，學網頁變得有趣多了！</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide mb-4">
          <div class="row justify-content-center w-100">
            <div class="col-lg-5 position-relative">
              <div class="u-pseudo-outline mb-7">
                <img src="./assets/images/share.jpg" alt="share.jpg"class="review__image rounded-4 ">
              </div>
            </div>
            <div class="col-lg-4 position-relative">
              <div class="card bg-white p-4 u-z-200">
                <img src="./assets/images/student03.jpg" class="rounded-circle card-img" alt="student03">
                <div class="card-body">
                  <h5 class="fs-7 fw-bold ">老師很有耐心</h5>
                  <p>老師手把手的細心教學，用手繪圖，以淺顯易懂的方式，讓零網頁基礎的我也能快速了解網頁的架構與原理，學網頁變得有趣多了！</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide mb-4">
          <div class="row justify-content-center w-100">
            <div class="col-lg-5 position-relative">
              <div class="u-pseudo-outline mb-7">
                <img src="./assets/images/share.jpg" alt="share.jpg"class="review__image rounded-4 ">
              </div>
            </div>
            <div class="col-lg-4 position-relative">
              <div class="card bg-white p-4 u-z-200">
                <img src="./assets/images/student04.jpg" class="rounded-circle card-img" alt="student04">
                <div class="card-body">
                  <h5 class="fs-7 fw-bold ">老師很有耐心</h5>
                  <p>老師手把手的細心教學，用手繪圖，以淺顯易懂的方式，讓零網頁基礎的我也能快速了解網頁的架構與原理，學網頁變得有趣多了！</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- navigation buttons -->
      <div class="swiper-nav d-flex align-items-center justify-content-center">
        <span class="material-symbols-outlined text-primary swiper-button-prev me-3">
          keyboard_backspace
        </span>
        <div class="swiper-pagination d-flex text-light"></div>
        <span class="material-symbols-outlined text-primary swiper-button-next ms-3">
          arrow_right_alt
        </span>
      </div>
    </div>
    
  </div>
</section>
<!-- 加入我們成為導師 -->
<section class="joinUs bg-black py-6 py-md-11">
  <div class="container text-center text-lg-start">
    <div class="row">
      <div class="u-bg-gray-800 col-10 m-auto rounded-4 py-6 px-4 d-flex align-items-center flex-column flex-lg-row">
        <span class="material-symbols-outlined mb-4 mb-lg-0 me-lg-7 text-light">
          menu_book
        </span>
        <div class="me-lg-auto">
          <h2 class="fw-bold fs-4 mb-4 mb-lg-2 u-z-400">加入我們成為導師</h2>
          <p class="mb-4 mb-lg-0 fs-md-7 text-light">歡迎各大程式大神加入我們，用知識在世界留下一點影響力。</p>
        </div>
        <div>
          <a href="#!" class="btn btn-outline-light u-hover-outline-primary">立即預約</a>
        </div>
      </div>        
    </div>
  </div>
</section>