// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );
@mixin respond-max($name) {
  @each $breakpoint,$size in $grid-breakpoints {
    @if $name == $breakpoint {
      @media only screen and (max-width: $size) {
        @content;
      }
    }
  }
}
// rwd min-width
@mixin respond-min($name) {
  @each $breakpoint,$size in $grid-breakpoints {
    @if $name == $breakpoint {
      @media only screen and (min-width: $size) {
        @content;
      }
    }
    // for font-size (fs-md-*)
    @if $name == $size {
      @media only screen and (min-width: $size) {
        @content;
      }
    }
  }
}

// 偽元素 底線(寬度)
@mixin pseudo-line-bottom($width) {
  position: relative;
  padding-bottom: 16px;
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    border-bottom: 3px solid $primary;
    width: $width;
  }
}
// 預期上課流程 偽元素 - 數字
@each $number in (1,2,3,4) {
  .u-pseudo-number--#{$number} {
    position: relative;
    &::after {
      position: absolute;
      content: "0#{$number}";
      top: -30px;
      left: 40px;
      color: $primary;
      font-size: 48px;
      font-weight: bold;
      line-height: 1.2;
      background-color: $gray-700;
      padding: 0 8px;
    }
    
  }
}

// gradient 漸層色
@each $degree in (104,180) {
  .u-linear-text-#{$degree} {
    background-image: linear-gradient(#{$degree}deg, $secondary, $primary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .u-linear-bg-#{$degree}{
    background-image: linear-gradient(#{$degree}deg, $secondary, $primary);
    border: 1px solid transparent;
    background-origin: border-box;
  }
}
// placeholder text color
@each $name,$color in $theme-colors {
  .u-placeholder-#{$name} {
    &::placeholder {
      color: $color;
    }
  }
}

// info 背景圖
$infoPhotos: '01','02','03','04';
@each $infoPhoto in $infoPhotos {
  .bg-info-img-#{$infoPhoto} {
    background: url("../images/info#{$infoPhoto}.jpg") center center;
    background-size: cover;
    height: 40vh;
    @include respond-min(lg) {
      height: 615px;
    }
  }
}
// z-index
$z-indexes: 100,200,300,400,999;
@each $z-index in $z-indexes {
  .u-z-#{$z-index} {
    position: relative;
    z-index: $z-index;
  }
}

// $font-sizes: (
//   1: $h1-font-size,
//   2: $h2-font-size,
//   3: $h3-font-size,
//   4: $h4-font-size,
//   5: $h5-font-size,
//   6: $h6-font-size,
//   7: $h7-font-size,
//   8: $h8-font-size,
//   9: $h9-font-size,
//   10:$h10-font-size
// )
// rwd font-size 改變字體大小
@each $h,$fs in $font-sizes {
  .fs-md-#{$h} {
    @include respond-min(map-get($grid-breakpoints,md)){
      font-size: $fs !important;
    }
  }
  .fs-lg-#{$h} {
    @include respond-min(map-get($grid-breakpoints,lg)){
      font-size: $fs !important;
    }
  }
}
// navbar 手機樣式動畫效果
$animation-indexes: (
  1: 0.3s,
  2: 0.5s,
  3: 0.7s,
);
@each $index,$duration in $animation-indexes {
  .u-animation-fromLeft-#{$index} {
    animation: fromLeft $duration cubic-bezier(.23,.76,.55,1.2);
  }
}