.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.no-fill {
  font-variation-settings: 'FILL' 0;
}

.btn:focus:focus {
  box-shadow: none;
}

.card-body {
  padding: 0;
}

//color
.u-bg-gray-600 {
  background-color: $gray-600;
}
.u-bg-gray-700 {
  background-color: $gray-700; 
}
.u-bg-gray-800 {
  background-color: $gray-800; 
}
.u-bg-gray-900 {
  background-color: $gray-900; 
}
.u-hover-primary:hover {
  color: $primary;
}
.u-hover-outline-primary:hover,
.is-active {
  color: $primary;
  background-color: transparent;
  border-color: $primary;
}

// 偽元素 底線-位置-寬度
.u-pseudo-line-bl-50 {
  @include pseudo-line-bottom(50px);
  &::after{
    left: calc(50% - 25px);
    @include respond-min(lg) {
      left: 0;
    }
  }
}
.u-pseudo-line-bl-50-hover {
  @include pseudo-line-bottom(50px);
  &::after{
    left: calc(50% - 25px);
    border-bottom: 3px solid $primary;
    @include respond-min(lg) {
      left: 0;
      border-bottom: 3px solid $white;
    }
  }
}
.u-pseudo-line-bm-50 {
  @include pseudo-line-bottom(50px);
  &::after {
    left: calc(50% - 25px);
  }
}
.u-pseudo-line-bl-70 {
  @include pseudo-line-bottom(70px);
  &::after {
    left: 0;
  }
}
.u-pseudo-line-l {
  position: relative;
  padding-left: 8px;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: -2px;
    height: 100%;
    border-left: 3px solid $primary;
  }
}
.u-pseudo-list-square {
  position: relative;
  padding-left: 13px;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: calc(50% - 2.5px);
    height: 5px;
    width: 5px;
    background-color: $primary;
  }
}
// border 四角小方框
.u-border-square {
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;

  &--1 {
    top: -5.5px;
    left: -5.5px;
  }
  &--2 {
    top: -5.5px;
    right: -5.5px;
  }
  &--3 {
    bottom: -5.5px;
    left: -5.5px;
  }
  &--4 {
    bottom: -5.5px;
    right: -5.5px;
  }
}

// font
.u-font-notoSans {
  font-family: "Noto Sans TC", serif;
}
// width
.u-w-100px{
  max-width: 100px;
}

// text ellipsis
.u-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.main-height {
  min-height: calc(100vh - 90px);
}

.u-btn-rwd {
  width: 100%;
  padding: 8px 16px;
  @include respond-min(md) {
    width: auto;
    padding: 8px 48px;
  }
}